import init.htc7x30.usb.rc

on init
	mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
	mkdir /storage 0555 root root
	mkdir /storage/sdcard0 0700 root root
	export EXTERNAL_STORAGE /storage/sdcard0

	# Support legacy paths
	symlink /storage/sdcard0 /sdcard
	symlink /storage/sdcard0 /mnt/sdcard
	symlink /storage/sdcard0 /storage/primary/legacy


on fs
	mount_all fstab.primou
	swapon_all fstab.primou

on post-fs
	chmod 0771 /cache
	chown system cache /cache

on post-fs-data
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp

	setprop vold.post_fs_data_done 1

on boot
	# CyanogenMod SysFS entries
	chown radio system /sys/module/gpio_event/parameters/phone_call_status
	chmod 0664         /sys/module/gpio_event/parameters/phone_call_status
	chown radio system /sys/camera_led_status/led_ril_status
	chmod 0644         /sys/camera_led_status/led_ril_status

	# Power Management
	chmod 0664 /sys/module/pm/parameters/idle_sleep_mode

	# Disable idle power collapse to speed up the boot process
	# Enable it when boot is complete
	write /sys/module/pm2/parameters/idle_sleep_mode 3

	# HTC SysFS for "Flip to Speaker"
	chown radio radio /sys/class/htc_accelerometer/accelerometer/PhoneOnOffFlag
	chown radio radio /sys/class/htc_ecompass/ecompass/PhoneOnOffFlag

	# Optical sensors
	chown system system /sys/class/optical_sensors/lightsensor/ls_adc
	chown system system /sys/class/optical_sensors/lightsensor/ls_auto
	chown system system /sys/class/optical_sensors/lightsensor/ls_kadc
	chown system radio  /sys/class/optical_sensors/proximity/ps_adc
	chown system system /sys/class/optical_sensors/proximity/ps_kadc
	chmod 0666          /sys/class/optical_sensors/proximity/ps_kadc
	chown system system /sys/class/optical_sensors/proximity/ps_led
	chown system system /sys/class/optical_sensors/proximity/ps_test_mode

	# SysFS charging functions
	chown radio radio /sys/class/power_supply/battery/charger_control
	chmod 0660        /sys/class/power_supply/battery/charger_control

	# bluetooth power up/down interface
	chown bluetooth bluetooth /dev/ttyHS0
	chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
	chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
	chmod 0660 /sys/class/rfkill/rfkill0/state

	# Bluetooth MAC address path
	chown bluetooth net_bt_stack /sys/module/htc_bdaddress/parameters/bdaddress
	setprop ro.bt.bdaddr_path /sys/module/htc_bdaddress/parameters/bdaddress

	# TelephonyManager.java requires this
	chmod 0644 /proc/cmdline

	# Widevine DRM
	chown drm system /dev/htcdrm
	chmod 0660 /dev/htcdrm

	# liblights permissions
	chown system system /sys/class/leds/lcd-backlight/brightness
	chown system system /sys/class/leds/green/brightness
	chown system system /sys/class/leds/green/blink
	chown system system /sys/class/leds/amber/brightness
	chown system system /sys/class/leds/amber/blink
	chown system camera /sys/class/leds/flashlight/brightness
	chmod 0666          /sys/class/leds/flashlight/brightness

	# Increase readahead buffers on MMC devices
	write /sys/block/mmcblk0/queue/read_ahead_kb 128

	write /sys/block/mmcblk1/queue/read_ahead_kb 128

	# Flash storage isn't a good entropy source, and only causes locking
	# overhead in the kernel. Turn it off.
	write /sys/block/mmcblk0/queue/add_random 0
	write /sys/block/mmcblk1/queue/add_random 0

	# Enable low memory killer to check file pages
	# 6mb, 8mb, 16mb, 24mb, 32mb, 48mb
	write /sys/module/lowmemorykiller/parameters/minfree 1536,2048,4096,6144,8192,12188 
	write /sys/module/lowmemorykiller/parameters/minfile 1536,2048,4096,6144,8192,12188 
	write /sys/module/lowmemorykiller/parameters/check_filepages 1

	#Vibrator
	chown system system sys/devices/platform/msm_ssbi.0/pm8058-core/pm8xxx-vib/amp
	chmod 666 sys/devices/platform/msm_ssbi.0/pm8058-core/pm8xxx-vib/amp

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

on property:sys.boot_completed=1
	write /sys/module/pm2/parameters/idle_sleep_mode 1

on property:init.svc.bootanim=running
	write /sys/block/mmcblk0/queue/scheduler noop

# Wifi
on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class late_start
    user root
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

# sdcard daemon
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

# Compass and accelerometer daemon
service akmd /system/bin/akmd
    class main
    user compass
    group compass misc input

service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p13 /dev/block/mmcblk0p14
    class main
    user root
    group system

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

on property:ro.emmc=1
    start rmt_storage

