#for audio
/dev/adsp                 0660   system     audio
/dev/msm_acdb	          0660   system     audio
/dev/msm_aac              0660   system     audio
/dev/msm_qcelp            0660   system     audio
/dev/msm_qcelp_in         0660   system     audio
/dev/msm_evrc_in          0660   system     audio
/dev/msm_amrnb_in         0660   system     audio
/dev/msm_audio_dev_ctrl   0660   system     audio
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/htc-acdb             0660   system     audio
/dev/tpa2051d3	          0660   system     audio
/dev/msm_mvs              0660   system     audio
/dev/codec_aic3254        0660   system     audio
/dev/pmem_audio           0660   system     audio
/dev/pmem_venc            0660   system     audio
/dev/msm_vidc*            0660   system     audio
/dev/control0             0660   system     audio
/dev/controlC0            0660   system     audio

# the genlock client device node is world writable/readable.
/dev/genlock              0666   root       root

# Diag
/dev/diag                 0666   root       root
/dev/htcdiag              0660   radio      radio
/dev/radio_feedback       0660   radio      radio

/dev/smd*                 0640   radio      radio

# gpu driver for adreno200 is globally accessible
/dev/ion                  0664   system	    system
/dev/kgsl-2d0             0666   root       root
/dev/kgsl-3d0             0666   root       root

/dev/msm_rotator          0666   system     graphics

/dev/rawchip0             0666   system     camera
/dev/gemini*              0660   system     camera
/dev/video*               0660   system     camera
/dev/media*               0660   system     camera

/dev/akm8975_daemon       0644   compass    system
/dev/akm8975_aot          0644   compass    system

# Wifi, Bluetooth and Modem
/dev/rfkill               0666   root       root
/dev/ttyHS0               0660   bluetooth  bluetooth
/dev/ttyMSM0              0600   bluetooth  bluetooth

/dev/htcdrm               0660   drm        system

/dev/cpu_dma_latency      0660   system     system
